<div class="container animated fadeIn fast" style="margin-top: 30px">
    <div class="welcome">
        <h1>Validar Código</h1>
        <form (ngSubmit)="validateCode()">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="form-group" >
                            <label for="exampleInputEmail1">Ingresa el código enviado al teléfono para validarlo </label>
                        
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroupPrepend"><i class="fas fa-barcode"></i></span>
                            </div>
                            <input type="text" class="form-control" name="codeValidation" id="code" [(ngModel)]="codeValidation" maxlength="6" style="text-transform: uppercase;"  placeholder="Código: XD34SD">
                        </div>
                        <br>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroupPrepend"><i class="fas fa-phone"></i></span>
                            </div>
                            <input type="tel" class="form-control" name="phone" id="phone" [(ngModel)]="phone" maxlength="10" placeholder="Ej: 3107654321">
                        </div>           
                        
                        <small id="emailHelp" class="form-text text-muted">A tu celular llegará un código que deberás ingresar para validar e <br> ingresar a modificar tu pérfil</small>

                        <button type="submit" class="btn btn-primary" style="margin-top: 30px">Enviar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
